<div class="row form-container">
    <div class="has-text-center">
    </div>

    <mat-tab-group class="space">
        <mat-tab label="Log In">
            <mat-form-field class="space-20">
                <input [(ngModel)]="email" type="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <div class="submit space">
                <button (click)="login()" [disabled]="!email || !password" color="primary" mat-raised-button>Log me in!</button>
            </div>
        </mat-tab>
        <mat-tab label="Register">
            <mat-form-field class="space-20">
                <input type="text" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="email" type="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Confirm Password">
            </mat-form-field>
            <div class="submit space">
                <button (click)="signup()" color="primary" mat-raised-button>Create my account!</button>
            </div>
        </mat-tab>
    </mat-tab-group>


</div>