<mat-toolbar color='primary'>
        <mat-toolbar-row>
            <img routerLink="/" class="logo" src="../../../assets/img/logo28.png" alt="Leads">
            <span class="spacer"></span>
            <button mat-button><img class="git-ico" src="../assets/ico/github-logo.svg"/>View on Github</button>        
            <button *ngIf="!(authService.user | async)" (click)="openLogIn()" mat-button><mat-icon class="example-icon">lock_open</mat-icon>Log In</button>
            <button *ngIf="authService.user | async" (click)="logout()" mat-button><mat-icon class="example-icon">lock_outline</mat-icon>Log Out</button>
        </mat-toolbar-row>
    </mat-toolbar>