<div class=cover>
    <h1 class="cta">Manage your Leads</h1>
    <h3 class="cta-button">In a single place!</h3>
</div>
<div class="row padding-100">
    <div class="col">
        <div class="left">
            <img id="mobile" src="../../../assets/img/phone_tilt.png" alt="Mobile Friendly">
        </div>
    </div>
    <div class="col">
        <div class="right">
            <div class="copy">
                <h2 class="medium">Works well on mobile</h2>
                <p>Have access to your leads on the go!</p>
                <p>Create, modify, add notes and reminders intuitively and fast!</p>
            </div>
        </div>
    </div>
</div>
<!-- sect 2 -->
<div style="clear:both" class="padding-30"></div>
<div class="row padding-100">
    <div class="col">
        <div class="left">
            <div class="copy">
                <h2 class="medium">Works offline!</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="right">
            <img id="satellite" src="../../../assets/img/Satellite.png" alt="Mobile Friendly">
        </div>
    </div>
</div>
<div class="row normalize has-text-center">
    <a routerLink="dashboard" mat-raised-button>Get Started</a>
</div>